/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Styles for the body */

body {
	font-family: Georgia, 'Times New Roman', Times, serif , "Open Sans", Arial, Helvetica, sans-serif, "Segoe UI", "Helvetica Neue", 'Times New Roman', Times, serif, sans-serif;
	color: #6a6abf;
	background-color: #ffd044;
}

h2, h3, h4, h6 {
    font-family: 'Lato', sans-serif;
}

h1,h5 {
	color: #1d0934;
	font-family: 'Courier New', Courier, monospace;
}
/* Target text inside biography-details list items */
.biography-details li {
    font-family: 'arial', sans-serif;
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: #de9bff;
}

.resume-main {
	background-color: #fffefc;
}

.resume-aside {
	background-color: #fff0e0;
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #8223ee;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}
